<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--Comment-->
   <extension
         id="filtecBuilder"
         name="Filtec Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.s3.toolkit.builder.FiltecBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="filtecNature"
         name="Filtec Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.s3.toolkit.builder.FiltecNature">
         </run>
      </runtime>
      <builder
            id="com.s3.toolkit.filtecBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.s3.toolkit.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="com.s3.toolkit.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.s3.toolkit.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.s3.toolkit.cs.editor.CSEditor"
            contributorClass="com.s3.toolkit.editors.CSMultiPageEditorContributor"
            default="true"
            icon="icons/sample.gif"
            id="com.s3.toolkit.editors.CSMultiPageEditor"
            name="CS Editor">
         <contentTypeBinding
               contentTypeId="com.s3.toolkit.contenttype.cs">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.s3.toolkit.gui.editor.GUIEditor"
            default="true"
            icon="icons/sample.gif"
            id="com.s3.toolkit.editors.GUIEditor"
            name="GUI Editor">
         <contentTypeBinding
               contentTypeId="com.s3.toolkit.contenttype.gui">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.s3.toolkit.gui.editor.PageEditor"
            default="false"
            icon="icons/sample.gif"
            id="com.s3.toolkit.editors.PageEditor"
            name="Page Editor">
         <contentTypeBinding
               contentTypeId="com.s3.toolkit.contenttype.page">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.s3.toolkit.contenttype.cs"
            name="CS Config"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="ConnectivityServer">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.s3.toolkit.contenttype.gui"
            name="GUI Structure"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="GUIServer">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.s3.toolkit.contenttype.page"
            name="Page"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="Page">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.s3.toolkit.cs.model.DeviceModel"
            class="com.s3.toolkit.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.s3.toolkit.category.filtec"
            name="Filtec">
      </category>
      <wizard
            category="com.s3.toolkit.category.filtec"
            class="com.s3.toolkit.cs.wizard.CSWizard"
            id="com.s3.toolkit.wizard.cs"
            name="Connectivity Server"
            project="true">
      </wizard>
   </extension>

</plugin>
